<!-- refer to the _data/portfolio to change the background image for the header/footer -->
<header>
    <!-- Always describe what you see in your sketch/rendering for the design with markup -->
    <nav>
        <!-- for-loop -->
        <!-- for each item we define in _data/settings.yml (in our 'menu:' list) it will output an element in this nav bar -->
        <!-- It will fill it in with the name and the url of the element (About, Contact, etc.) -->
        {% for item in site.data.settings.menu %}
        <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
    </nav>

    <!-- You can change these strings in the _data/settings.yml file -->
    <h1><span>{{ site.data.settings.title }}</span></h1>
    <!-- Our subtitle -->
    <p class="kicker">{{ site.data.settings.description }}</p>

</header>
