<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="100"
   height="100"
   id="svg5391"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="icon-videos.svg">
  <defs
     id="defs5393" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="3.959798"
     inkscape:cx="15.97438"
     inkscape:cy="46.333648"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1280"
     inkscape:window-height="709"
     inkscape:window-x="0"
     inkscape:window-y="1"
     inkscape:window-maximized="1"
     units="px" />
  <metadata
     id="metadata5396">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-952.3622)">
    <path
       id="rect5939"
       style="fill:;fill-opacity:;stroke:;stroke-width:2.92107224;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       d="m 22.37207,984.20962 c -0.610759,0 -1.102533,0.49184 -1.102533,1.10264 l 0,31.87384 c 0,0.6108 0.491774,1.1025 1.102533,1.1025 l 55.347274,0 c 0.61077,0 1.102067,-0.4917 1.102067,-1.1025 l 0,-31.87384 c 0,-0.6108 -0.491297,-1.10264 -1.102067,-1.10264 l -55.347274,0 z m 18.245765,5.02924 10.401565,6.00521 10.401568,6.00503 -10.401568,6.0054 -10.401565,6.0055 0,-12.0109 0,-12.01024 z"
       inkscape:connector-curvature="0" />
  </g>
</svg>
