<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="100"
   height="100"
   id="svg2"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="icon-note.svg">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="3.959798"
     inkscape:cx="83.841472"
     inkscape:cy="42.777256"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1280"
     inkscape:window-height="709"
     inkscape:window-x="74"
     inkscape:window-y="69"
     inkscape:window-maximized="0"
     units="px" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-952.3622)">
    <path
       id="path4136"
       style="fill:;fill-opacity:;stroke:none;stroke-width:5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       d="m 52.041281,974.7823 c -2.064338,0 -3.725899,1.6622 -3.725899,3.72654 l 0,5.76515 0,32.22421 a 6.7972699,10.998213 76.57197 0 0 -8.774803,-0.4205 6.7972699,10.998213 76.57197 0 0 -9.119242,9.1653 6.7972699,10.998213 76.57197 0 0 12.276177,4.0572 6.7972699,10.998213 76.57197 0 0 9.221097,-8.0838 l 0.0011,0 0,-0.2109 a 6.7972699,10.998213 76.57197 0 0 0,-0.2046 l 0,-32.80657 c 0.0408,0 0.08047,0 0.121565,0 l 17.4806,0 c 2.064331,0 3.726442,-1.66205 3.726442,-3.72639 l 0,-5.76515 c 0,-2.06434 -1.662111,-3.72639 -3.726442,-3.72639 l -17.4806,0 z"
       inkscape:connector-curvature="0" />
  </g>
</svg>
